h3 {
    background: burlywood;
    border: 5px solid white;
}

h1 {
    border: 10px solid papayawhip;
    background: burlywood
}

p {
    border: 3px solid wheat;
}

button {
    background: burlywood;
    border: 3px solid white;
}

h4 {
    background: burlywood;
    border: 4px dashed white;

}