h3 {
    background: burlywood;
    border: 5px solid white;
}

h1 {
    border: 10px solid papayawhip;
    background: burlywood
}

p {
    border: 3px solid wheat;
    background: papayawhip;
}

button {
    background: burlywood;
    border: 3px solid white;
}

h4 {
    background: burlywood;
    border: 4px dashed white;

}

h2 {
    background: burlywood;
    border: dashed 5px paleturquoise;
}